ul {
	list-style: none;
}

li {
	text-decoration: none;
}
.main-body-container{
	margin-top: 15px;
}

.col-md-2 .sidebar {
	margin: 0;
	/*padding: 0 25px;*/
	min-height: 1000px;
	background-color: #D8D4CB;
}
.nav >li:hover{
	/*background-color: #4E2C46;*/
}
/*.sidebar div > ul {
	list-style: none;
	padding-left: 0;
}

.sidebar li{
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}

.sidebar li:hover{
	background-color: #D8D8D8;
	color: #fff;
}
.sidebar li:active{
	background-color: #3498DB;
	color: #fff;
}*/
.nav >li{
	/*height: 15px;*/
}
.nav>li>a{
	/*height: 200px;*/
	color: #000;
}
.nav>li>a:hover{
	background-color: #333;
	color: #fff;
	
}
.side-nav >li:hover, .side-nav >li a:hover {
}

.mail-box{
	background-color: #fff;
	padding-left: 7px;
}

.inbox{
	border-right: 2px solid #D8D8D8;
	border-left: 2px solid #D8D8D8;
	background-color: #FEFEFE;
	min-height: 1000px;
	/*overflow-x: hidden;
	overflow-y: scroll;*/
}

.inbox li>span {
	margin:0 3px;
}
/*div.inline { float:left; }
.clearBoth { clear:both; }*/

.mail-item{
	width: 260px;
	height: 39px;
	float: left;
	margin-bottom: 5px;
	vertical-align: middle;
	padding: 7px;
	border-bottom: 1px solid #D8D8D8;
}

.mail-item:hover{
	background-color: #333;
	color: #fff;
	font-weight: bolder;
}

.mail-item:active{
	background-color: #3498DB;
	color: #fff;
}


.mail-meta{
	float: left;
	margin: 2px;
}
.check{
	width: 25px
}

.name{
	width:140px;
}

.date {
	width: 35px;
}

.btn-group.mail-actions{
	margin: 10px 0 0 10px;
}
.btn-group:hover{
	background-color: #333;
	color: #fff;
}
.msg-display{
	margin-top: 5px;
	background-color: #FEFEFE;

}

.col-md-6 .pull-right{
	text-align: left;
}

.col-md-6 .pull-left{
	padding-left: 0;
}

.mail-body{
	padding: 0 20px;
}