ul {
	list-style: none;
}

li {
	text-decoration: none;
}
.main-body-container{
	margin-top: 15px;
}

.col-md-2 .sidebar {
	margin: 0;
	/*padding: 0 25px;*/
	min-height: 1000px;
	background-color: #D8D4CB;
}
.navbar{
	border-bottom: 0px;
}
.nav>li>a{
	color: #000;
}

.nav>li>a:hover{
	background-color: #333;
	color: #fff;	
}

.side-nav >li:hover, .side-nav >li a:hover {
}

.mail-box{
	background-color: #fff;
	padding-left: 7px;
}

.inbox{
	border-right: 2px solid #D8D8D8;
	border-left: 2px solid #D8D8D8;
	background-color: #FEFEFE;
	min-height: 1000px;
}

.inbox li>span {
	margin:0 3px;
}

.mail-item{
	width: 260px;
	height: 39px;
	float: left;
	margin-bottom: 5px;
	vertical-align: middle;
	padding: 7px;
	border-bottom: 1px solid #D8D8D8;
}

.mail-item:hover{
	background-color: #333;
	color: #fff;
	font-weight: bolder;
}

.mail-item:active{
	background-color: #3498DB;
	color: #fff;
}


.mail-meta{
	float: left;
	margin: 2px;
}
.check{
	width: 25px
}

.name{
	width:140px;
}

.date {
	width: 35px;
}

.btn-default{
	width: 96px;
	font-size: 11px;
}

.btn-group.mail-actions{
	margin-bottom:15px;
}
.btn-group:hover{
	background-color: #333;
	color: #fff;
}
.msg-display{
	margin-top: 5px;
	background-color: #FEFEFE;
}

.col-md-6 .pull-right{
	text-align: left;
}

.col-md-6 .pull-left{
	padding-left: 0;
}

.mail-body{
	padding: 0 20px;
}

.modal-header {
	background-color:#D8D4CB
}