<!DOCTYPE html>		
<html>
<head>
	<title>Message Compose</title>
	<meta charset="utf-8">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keyowrds" content="mentor, tech africa, mest, tech, entrepreneur, entrepreneurship">
    <!-- <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Oxygen'>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Fondamento'> -->
    <link rel="stylesheet" href="../assets/css/bs.min.css">
	<link rel="stylesheet" href="../assets/bt-3css/msg-compose.css">
	<link rel="stylesheet" href="../assets/bt-3css/master-style.css">
</head>
<body>
	<!-- ==============navbar=================== -->
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<a href="#"class="navbar-brand">MEST Global Community</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Messages</a></li>
					<li><a href="#">Search</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nic_O_d<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Settings</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>	
				</ul>
			</div>	
		</div>
	</div>
<!-- ==================================main body here ================================================== -->
	<div class="row msg-compose-main">
		<div class="col-md-3 left">

			<!-- <div class="recipient-email">
				<div class="mentor-pic">
					<img class="mentor-pic" src="../assets/img/andrew_gottlieb.jpg" alt="mentor pic">
				</div>
				<input class="form-control" id="disabledInput" type="text" placeholder="example@hostdomain.com" disabled>
			</div> -->
			<div class="tips row">
				
			</div>
			<div class="checklist">
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				</div>
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				</div>
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				</div>
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				</div>
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				</div>
			</div>
=========================================modal===========================================
			<!-- Ontro mail sample -->
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  View sample
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Introductory email sample</h4>
			      </div>
			      <div class="modal-body">
			        <p>Hi Jack,

					<p>I would like to introduce myself, Kwame I am one of the co-founders and the CTO for Jhello. </p>

					<p>Jhello is an e-commerce marketing software that helps online merchants promote their products 

					and drive traffic through leading comparison shopping engines. </p>

					<p>We're growing rapidly in data volumes and also in merchant base. It has become necessary we 

					take a look at our system architecture, UI and UX to cater for future expansion.

					Your expertise and advice would be greatly needed as we embark on a roadmap to expansion.</p> 

					<p>Can we please schedule an initial skype meeting with you to introduce the Jhello team? Will 

					somewhere next week be an appropriate fit?</p>

					<p>Regards,</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
			  View sample
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Introductory email sample</h4>
			      </div>
			      <div class="modal-body">
			        <p>Hi Jack, Teresa:</p>

					<p>I wanted to reach out to everyone regarding our meeting on Thursday, September 19th. Kindly confirm if you’re both ok with vidchatting at 15:00-16:00 GMT.</p>

					<ol>
					 	<li>Here’s the login info for a demo of the app: 
							<ul>
								<li>login url: (login url)</li>
								<li>username: (demo userid)</li>
								<li>password: (pwd)</li>
							</ul>
						<li>Here’s an agenda outlining the areas we’d like to discuss: [Short, five-point agenda]</li>
					
						<li>Finally, kindly let me know if you’re OK vidchatting via Skype, or if there’s another service you’d prefer. If Skype works for you, please let me know your Skype IDs. Mine is [<em> insert Skype ID</em>]. </li>
					 
					 </ol>

					<p>Cheers,</p>
					<p>Kwesi</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			========================================================================
		</div>
		<div class="col-md-8 right">
			<input class="form-control" type="text" placeholder="Subject" >
			<input class="form-control" type="text" placeholder="To: {Nicodemous Nutsukpui}" disabled>
			<hr>
			<textarea id="message" class="form-control" col="60"row="500" placeholder="Type away your message..."></textarea>
			<div class="btn-group pull-right message-actions">
			  <button type="button" class="btn btn-default">Send</button>
			  <button type="button" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</div>
	
	<!-- =============footer ================== -->
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">Footer here</p>
			<!-- <div class="navbar-btn btn-danger btn pull-right">Sing up if you have to</div> -->
		</div>
	</div>

	<!-- ================= Scripts ================== -->
	<script src="../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../assets/js/bs.min.js"></script>
</body>
</html>